body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    colof:fff;
    border-right: 5px solid #4d4d4d;
    font-family: Brush Script MT;
    position: fixed;
    top: 0;

}

aside img{
    width: 100px;
    float: left;
}

aside .logo{
    color: white;
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3{
    color: white;
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none;}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 30px;
    text-align: center;
    width: 75%;
    margin-left: 20%;
}

main .features h1 {font-size: 50px; font-family: Brush Script MT;}
main .features p {max-width: 400px; margin: 20px auto;}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 35%;
    text-align: left;
    background: #b5ac79;
    color: #6b523d;
    border-radius: 10px;
}

.about-ul {
    list-style: none;
    float: left;
    text-align: left;
    font-family: Brush Script MT;
}

.about-ul2 {
    list-style: none;
    float: left;
    margin-left: 475px;
    font-family: Brush Script MT;
}

.about-ul3 {
    list-style: none;
    float: right;
    text-align: left;
    font-family: Brush Script MT;
}
.map{
    float: center;
    margin-top: 12px;
    width: 100%;
}

.main-review {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 35%;
    text-align: left;
    background: #b5ac79;
    border-radius: 10px;
    padding: 15px;
    font-family: Brush Script MT;
    font-weight: bold;
    color: #6b523d;
    font-size: 20px;
}

.h3-review {
    text-align: center;
    font-family: Brush Script MT;
    font-weight: bold;
}

.star {
    color: gold;
    font-size: 24px;
}

.create {
    margin-left: 32%;
    width:500px;
    margin-top: 50px;
}

.rate-avg {
    font-size: 24px;
}

.card {
    width: 280px;
    height: 380px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 280px;
    height: 200px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
   font-size: 14px;
   color: #555;
   margin-bottom: 10px;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    color: #e44d26;
}

.btn-buy {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #e44d26;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin: 20px;

}

.search-container{
    justify-content: center;
    margin-top: 20px;
}

.search{
    padding: 5px;
    width: 500px;
    border-radius: 8px;
    height: 35px;
}

.search-button{
    margin-left: 10px;
    border-radius: 8px;
    height: 35px;
}

.cart{
    max-width: 800px;
    height: 250px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: black;
}

.cart-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-item-info {
    flex: 1;
    margin-left: 15px;
    margin-left: 280px;
    text-align: left;
    padding: 10px 0;
}

.cart-item {
    margin-top: -200px;
    margin-left: 280px;
    text-align: left;
    padding: 10px 0;
}

.cart-item-price {
    margin-top: 30px;
    font-weight: bold;
    color: #333;
    margin-left: 280px;
    text-align: left;
    padding: 10px 0;
}

.cart-item-quantity {
    font-size: 14px;
    color: #666;
    margin-left: 280px;
    float: left;
}

.cart-img {
    width: 280px;
    height: 200px;
    overflow: hidden;
}

.cart img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-dell {
    text-align: left;
    color: white;
    text-decoration: none;

}

.div-dell {
    padding: 5px;
    background-color: red;
    border: none;
    border-radius: 6px;
    margin-left: 280px;
}

.all-price{
    width: 800px;
    height: 50px;
    margin: 20px auto;
    background: white;
    border-radius: 5px;
}

.all-btn{
    color: white;
    background: green;
    text-decoration: none;
    padding: 6px;
    border-radius: 6px;
}

.all-sum{
    font-weight: bold;
    color: #333;
    margin-left: 20px;
    text-align: left;
    padding: 10px 0;
}

.div-all-btn{
    float: right;
    margin-top: -30px;
    margin-right: 20px;
}

.categories {
    font-family: Brush Script MT;
    float: left;
    margin-left: 20%;
}

.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.main-menu a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.dropdown:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    z-index: 1;
}

.sub-menu li {
    display: block;
    margin: 0;
}

.sub-menu a {
    padding: 10px;
    color: #333;
}