{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}
    Оформлення Заказу
{% endblock %}

{% block content %}
     <div class="features">
        <h1>Оформлення заказу</h1>
        <form class="create" method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.surname }}<br>
            {{ form.adress }}<br>
            {{ form.phonenumber }}<br>

            {% for product_id, item in cart.items %}
                <input type="hidden" name="products" value="{{ product_id }}">
            {% endfor %}

            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Додати заказ</button>
        </form>
    </div>
{% endblock %}